<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Babel Studios</string>
	<key>CFBundleDisplayName</key>
	<string>Defacer</string>
	<key>CFBundleIdentifier</key>
	<string>com.babelstudios.defacer</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.2</string>
	<key>CFBundleVersion</key>
	<string>1.0.2</string>
	<key>Chrome</key>
	<dict/>
	<key>Content</key>
	<dict>
		<key>Blacklist</key>
		<array>
			<string>http://*.facebook.com/*</string>
			<string>https://*.facebook.com/*</string>
		</array>
		<key>Scripts</key>
		<dict/>
		<key>Stylesheets</key>
		<array>
			<string>defacer.css</string>
		</array>
	</dict>
	<key>Description</key>
	<string>Removes "like this" and other facebook-buttons from websites</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Update Manifest URL</key>
	<string>http://babelstudios.se/defacer/updates.plist</string>
	<key>Website</key>
	<string>http://babelstudios.se/defacer/</string>
</dict>
</plist>
